@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lora", Raleway; 
}

h1,h2,h3,h4,h5,h6 {
    color: #232e35;
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: #656d72;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}



/* buttons */

.btn{
    background-color: #7e74f1;
    color: #fff;
    /* box-shadow: 0 0 7px 0px blue; */
    border: 1px solid #7e74f1;
}

.button{
    position: absolute;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-right: 15px;
    border-radius: 4px;
}

/* Title */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: .6rem;
    color: #656d72;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: #d9d9d9;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* layout */

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}


.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.9rem;
}

.nav ul li {
    display: flex;
    align-items: center;

}

.nav ul li a {
    color: #232e35;
}


.hero-right {
    display: flex;
    justify-content: center;
}

/* Section Porto */

#portofolio {
    background-color: #fbfbfb;
    padding: 6rem 0;
}

.portofolio .pre-title {
    margin: 0 auto;
    text-align: center;
}

.portofolio-title {
    text-align: center;
}

.grid-3 p {
    text-align: justify;
}

.education1 {
    padding: 3rem 2rem;
    text-align: center;
    background-color: #fff;
    border-radius: .7rem;
}

.portofolio h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.02rem;
}

.edc-icon {
    background-color: #f5f3fe;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
}

.edc-icon svg {
    fill: #7e74f1;

}

.edc-title {
    margin-top: 1rem;
}

/* More Ifo */
#minfo {
    padding: 6rem 0;
}

.inf {
    border-radius: .7rem;
    overflow: hidden;
    border: 1px solid #f1f1f1;
}

.inf-cover {
    height: 250px;

}

.inf-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inf-m {
    padding: 2rem 1.5rem;
}

.inf-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.inf-m h4 {
    font-weight: 700;
    font-size: 1.05rem;
}

.inf-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.inf-tags div {
    font-size: .9rem;
    border: 1px solid #f1f1f1;
    padding: .4rem 1rem;
    color: #656d72;
}

/* EDUCATION */
#skills {
    padding: 6rem 0;
    background: #fbfbfb;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 1.5rem;
}

.education .line {
    padding: 0 .7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: #f1f1f1;
    position: relative;
}

.education-info p {
    margin: .6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

/* The dot on the line */
.education .line div::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #f1f1f1;
    border-radius: 50%;
    position: absolute;
    left: -6px;

}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skill-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}


/* Contc Sect */
#contact {
    padding: 4rem 0;
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;

}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: .7rem 1.3rem;
    font-family: "Lora";
    background: #fbfbfb;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: #7e74f1;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-submit:hover {
    background: #5d51e8;
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: #f5f3fe;
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: #7e74f1;
}

.contact-item-detail h4 {
    margin-bottom: .6rem;
    font-family: "Raleway";

}



/*  */
footer {
    padding: 4rem o;
    background: #fbfbfb;
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 .5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icons a:hover svg {
    fill: #000;
}








@media screen and (max-width: 1200px){
    .main-container{
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    
}

@media screen and (max-width: 760px) {
    .container-fluid-md {   
      height: 100%;
      padding-top: 1rem;
    }
}




/* percobaan */
/* 
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

.row::after {
    content: "";
    display: table;
    clear: both;
  } */